<footer style="color: #fff; padding: 20px 0; text-align: center; font-size: 14px;" class="bg-dark" id="footer">
    <div class="sideContainer" style="position: absolute; font-family:'raleway'; font-size: 25px; margin-top: 20px;">
        <a class="navbar-brand" [routerLink]="['/customer-homepage']">WalletPayment</a>
    </div>

    <div style="margin-bottom: 10px;">
        <a href="mailto:support@walletpayment.com"
            style="color: #fff; margin: 0 10px; text-decoration: none;">support&#64;walletpayment.com</a>
        |
        <a href="tel:+18005551234" style="color: #fff; margin: 0 10px; text-decoration: none;">+1-800-555-1234</a>
    </div>
    <div style="margin-bottom: 10px;">
        Follow us on:
        <a href="https://facebook.com/walletpayment"
            style="color: #fff; margin: 0 5px; text-decoration: none;">Facebook</a>
        |
        <a href="https://twitter.com/walletpayment"
            style="color: #fff; margin: 0 5px; text-decoration: none;">Twitter</a>
        |
        <a href="https://linkedin.com/company/walletpayment"
            style="color: #fff; margin: 0 5px; text-decoration: none;">LinkedIn</a>
        |
        <a href="https://instagram.com/walletpayment"
            style="color: #fff; margin: 0 5px; text-decoration: none;">Instagram</a>
    </div>
    <div style="margin-top: 10px;">
        &copy; 2024 WalletPayment. All rights reserved.
    </div>
</footer>