<div *ngIf="!isLoggednIn">
    <br>
    <div class="container">
        <h2>Please login to add <a [routerLink]="['/login-customer']">Bank Account</a></h2>
    </div>
</div>
<br><br>
<div *ngIf="isLoggednIn">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                        <h3>Add Account</h3>
                    </div>
                    <div class="card-body">
                        <form name="bankform" #bankform="ngForm" (ngSubmit)="onSubmit()">

                            <div class="mb-3">
                                <label for="bname" class="form-label">Bank Name</label>
                                <input type="text" class="form-control" id="bankName" name="bankName" required
                                    [(ngModel)]="bank.bankName">
                            </div>

                            <div class="mb-3">
                                <label for="accno" class="form-label">Account No.</label>
                                <input type="number" class="form-control" id="accountNo" name="accountNo" required
                                    [(ngModel)]="bank.accountNo">
                            </div>
                            <div class="mb-3">
                                <label for="ifsc" class="form-label">IFSC code</label>
                                <input type="text" class="form-control" id="ifscCode" name="ifscCode" required
                                    [(ngModel)]="bank.ifscCode">
                            </div>
                            <div class="mb-3">
                                <label for="bal" class="form-label">Balance</label>
                                <input type="number" class="form-control" id="balance" name="balance" required
                                    [(ngModel)]="bank.balance">
                            </div>
                            <div class="mb-3">
                                <label for="wid" class="form-label">Wallet Id</label>
                                <input type="number" class="form-control" id="wallet" name="wallet" readonly
                                    value="{{wallet_id}}" [(ngModel)]="bank.walletId">
                            </div>

                            <button type="submit" [disabled]="bankform.invalid" class="btn btn-primary w-100">Add
                                Account</button><br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
