<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img
        src="https://media.gettyimages.com/id/1371070653/photo/over-the-shoulder-view-of-young-asian-woman-shopping-online-for-flight-tickets-on-airline.jpg?s=612x612&w=0&k=20&c=NUUCjW1xpJ_zkLkPVxlase3R96q2UcVe-epuISw2eTs="
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://cdn.pixabay.com/photo/2024/02/26/19/19/car-8598762_640.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://cdn.pixabay.com/photo/2021/07/12/10/55/bank-6406011_640.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../assets/images/addbank.png" class="d-block w-100" alt="Bank">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div>
  <h1 class="text-center" id="Services">Our Services</h1>
</div>
<div class="wrapper">
  <div class="image1">
    <img src="../../assets/images/addbank.png" alt="bank">
    <div class="content">
      <button id="addAccount" [routerLink]="['/add-account']">Add Account</button>
    </div>
  </div>
</div>
<br>
<div class="options">
  <div class="wallet">
    <button>Wallet</button>
  </div>
  <br>
  <div class="BillPayment">
    <button>Bill Payments</button>
  </div>
  <br>
  <div class="Transactions">
    <button>Transactions</button>
  </div>
  <br>
  <div class="Beneficiary">
    <button>Beneficiary</button>
  </div>
</div>
