<div *ngIf="!isLoggednIn">
    <br>
    <div class="container">
        <h2>Please login to add <a [routerLink]="['/login-customer']">Bank Account</a></h2>
    </div>
</div>
<br><br>
<div *ngIf="isLoggednIn">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                        <h3>Delete Account</h3>
                    </div>
                    <div class="card-body">
                        <form name="deleteaccountform" #deleteaccountform="ngForm" (ngSubmit)="deleteAccountByNo(deleteaccountform)">

                            <div class="mb-3">
                                <label for="wid" class="form-label">Wallet Id</label>
                                <input type="number" class="form-control" id="wallet" name="wallet" readonly
                                    value="{{wallet_id}}" [(ngModel)]="bank.walletId">
                            </div>

                            <div class="mb-3">
                                <label for="accno" class="form-label">Account No.</label>
                                <input type="number" class="form-control" id="accountNo" name="accountNo" required
                                    [(ngModel)]="bank.accountNo">
                            </div>

                            <button type="submit" [disabled]="deleteaccountform.invalid"
                                class="btn btn-primary w-100">Delete
                                Account</button><br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>