<div *ngIf="!isLoggednIn">
    <br>
    <div class="container">
        <h2>Please login to add <a [routerLink]="['/login-customer']">Bank Account</a></h2>
    </div>

</div>
<div *ngIf="isLoggednIn">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                        <h3>Wallet Id</h3>
                    </div>
                    <div class="card-body">
                        <form name="viewAccountsform" #viewAccountsform="ngForm" (ngSubmit)="onSubmit()">


                            <div class="mb-3">
                                <label for="wid" class="form-label">Wallet Id</label>
                                <input type="number" class="form-control" id="wallet" name="wallet"
                                    value="{{wallet_id}}" [(ngModel)]="bank.walletId">
                            </div>




                            <button type="submit" [disabled]="viewAccountsform.invalid"
                                class="btn btn-primary w-100">View
                                Accounts</button><br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br>
</div>

<div *ngIf="bankAccounts.length > 0">
    <table border="1" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>Account No</th>
                <th>Balance</th>
                <th>Bank Name</th>
                <th>IFSC Code</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of bankAccounts">
                <td>{{ account.accountId }}</td>
                <td>{{ account.accountNo }}</td>
                <td>{{ account.balance }}</td>
                <td>{{ account.bankName }}</td>
                <td>{{ account.ifscCode }}</td>
            </tr>
        </tbody>
    </table>
</div>